$color-primary: #142254;
$color-secondary: #0F193E;
$color-tertiary: #223A90;
$color-accent: #DF3C3C;
$color-white: #FFFFFF;

$color-accent-gradient: linear-gradient(180.28deg, #DF3C3C 0.24%, rgba(223, 60, 60, 0) 178.32%);

$base-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
$base-radius: 1.5rem;

$base-font: 'Roboto', sans-serif;
$base-font-size: 1.8rem;

$base-size: 1.5rem;
