
.blobs {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  & svg {
    &:nth-child(odd) {
      margin-left: auto;
    }

    &:nth-child(even) {
      margin-right: auto;
    }
  }
}
